@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face{
  font-family: 'NotesESABold';
  src: url('./notesesabol-webfont.ttf') format('truetype');
}

@font-face{
  font-family: 'NotesESA';
  src: url('./notesesareg.woff2') format('woff2'),
       url('./notesesareg.ttf') format('truetype');
}

.v-application {
  font-family: 'NotesESA', 'Open Sans', sans-serif;
}
